<footer>
            <div th:fragment="footerFragment" id = "footer">
                <div class = "footer_logo">
                    <img src="img/footer-logo.png">
                </div>
                <div class="footer_inform">
                    <ul>
                        <li><a href='#'>이용약관</a></li>
                        <li><a href='#'>개인정보처리방침</a></li>
                        <li><a href='#'>메일문의(knit@today.co.kr)</a></li>
                    </ul>
            </div>
        </footer>
    </div>
        
</body>
</html>